/* css genraal */
:root{
  --rojito: #e3032c;
  --amarillito: #ffda00;
  --blanco: #ffffff;
  --negro: #222222;
  --base-font: 16px;
}


*{ 
  box-sizing: border-box;
 
}
html, body{ 
  margin:0; 
  padding:0; 
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-size: var(--base-font); color: var(--negro); }

/* enlaces */
a{ 
  color:inherit; 
  text-decoration:none; 
}

img{ 
  max-width:100%; 
  height:auto; 
  display:block; 
}

.container{ 
  width:90%; 
  margin:0 auto; 
}
/* estilo header */
header{ 
  background-color: var(--amarillito); 
  position: relative; 
}
header .encabezado{ 
  padding: 12px 5%; 
  position: relative; 
}

.logo{ 
  width:140px; 
  display:inline-block; 
  vertical-align:middle; 
}

.mainnav{ 
  display:inline-block; 
  vertical-align:middle; 
  margin-left:18px; 
}
.bloquenav a{ 
  display:inline-block; 
  margin:0 10px; 
  font-weight:700; 
  color:var(--rojito); 
}

/* boton pedir */
.pedir{ 
  display:inline-block; 
  background:var(--rojito); 
  color:var(--amarillito); 
  padding:8px 16px; 
  border-radius:30px; 
  position:absolute; 
  right:5%; 
  top:12px; 
  top: 5px;
  font-weight:700; 
}

/* footer manu abajo*/
footer{ 
  background:var(--amarillito); 
  padding:28px 5%; 
}
.footer_caja{ 
  display:block; 
}
.footer_izq img{ 
  width:120px; 
}

.politica p{
  font-size: 20px;
  color: #e3032c;
}

.menu_footer div{
  display: inline-block;
  width: 290px;
  position: relative;
  left: 30%;
  height: 20px;
  margin: 0;
}
.menu_footer{
  position: relative;
  bottom: 40px;
}

.footer_derecha{
  position: relative;
  left: 90%;
}